#details {
    background-color: #2A2F3A;
}

/* Nested events CSS */
.nestedEvent {
    display: flex;
    gap: 1rem;
}

.nestedEvent .indent-indicator{
    border: 0.5px solid #fff;
    width: 0;
}

.nestedEvent .event-button {
    flex-grow: 1;
}


/* Tab Panel CSS */
.tabHeader {
    display: flex;
    gap: 5px;
}

.tabHeader .tab {
    border: 1px solid #fff;
    padding: 10px;
}

.tabContentContainer {
    border: 1px solid #fff;
}